
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
body
{
    background-color: aqua;
}
h1
{
    text-align: center;
    font-size: 100px;
    font-family: 'BhuTuka Expanded One', cursive;
}
 img
 {
width: 150px;
height: 100px;
margin: 30px auto;
display: block;
}
.banner 

{ background-color: rgb(238, 238, 238);
padding: px;
}
p
{
    text-align: center;
    color: rgb(3, 47, 47);
    font-size: 100px;
    font-weight: 30px;

}
